.dsdws-shop-categories-list {
  list-style-type : none;
  font-size       : 14px;
  margin          : 0;
  padding         : 0 !important;

  li {
    display : inline-block;
    margin  : 0 10px 17px 0;

    a {
      border-bottom : solid 1px transparent;
      padding       : 7px;
      //color         : $baseFontColor !important;
      @include transition();
      }
    }

  li a:hover {
    //border-color : $mainColor !important;
    //color        : $baseHeaderColor !important;
    }
  }